@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato",sans-serif;
    background-image: url("../img/bg.png");
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a{
    background-color: #1da3dd;
    border-radius: 100px;
    color: #fff;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    opacity: 0.8;
    text-decoration: none;
    outline: none;
}